{% extends 'base.html' %}
{% block title %}Figure Out{% endblock %}

{% block content %}
<h1>Welcome to Figure Out!</h1>

<div class="position-absolute top-50 start-50 translate-middle"></div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hey guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}