{% extends 'base.html' %}
{% block title %}Setting up{% endblock %}


{% block content %}
    <h2>What are you trying to achieve with FigureOut (the most)?</h2>
    <form action="{% url 'priorityservice' %}" method="post">
        {% csrf_token %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="choice" id="choice1" value="0" checked>
          <label class="form-check-label" for="choice1">
            Systematize your study - learn deeper (with SpaceLearning)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="choice" id="choice2" value="1">
          <label class="form-check-label" for="choice2">
            Develop newer healthy habits and get rud of harmful ones (Habits app)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="choice" id="choice3" value="2">
          <label class="form-check-label" for="choice3">
            Improve mindfulness of your daily studies (about relfecting and managing)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="choice" id="choice4" value="3">
          <label class="form-check-label" for="choice4">
            Boost your productivity by keeping track of your goals (Todos and management)
          </label>
        </div>

        <button type="button" class="btn btn-success" onclick="this.form.submit()">Submit</button>
    </form>

{% endblock %}
