{% extends "base.html" %}
{% block title %}ToDo{% endblock %}

{% block content %}
<h1>ToDo List</h1>


<hr>
    <ul class="list-group">
        <a href="{% url 'todotaskcreate' %}" class="btn btn-info" type="button">Add new ToDo</a>
        {% if todo_list|length == 0 %}<hr><h3>There are no ToDos for now.<hr> Click the button below to add ToDo.</h3></hr>{% endif %}
        {% for todo in todo_list %}
            {% csrf_token %}
                <li class="list-group-item list-group-item-action {% if todo.priority_level == 1 %}list-group-item-light{% elif todo.priority_level == 2 %}list-group-item-info{% elif todo.priority_level == 3 %}list-group-item-warning{% endif %}">
                    <div class="form-check">
                        <form method="post" action="{% url "todocheck" todo.id %}">
                            {% csrf_token %}
                            <input class="form-check-input" type="checkbox" value="" id=""
                                   {% if todo.is_done %}checked{% endif %}
                                   title="{% if not todo.is_done %} mark as done {% else %} mark undone {% endif %}"
                                   onchange="this.form.submit()"
                                   name="is_done">
                            <label class="form-check-label" for="flexcheckchecked">
                                {{ todo.title }}
                            </label>
                            <a class="btn btn-primary" href="{% url 'tododetail' todo.pk %}" role="button" title="details">details</a>
                            <a class="btn btn-primary" href="{% url 'tododelete' todo.id %}" role="button" title="delete">delete</a>
                        </form>
                    </div>
                </li>
        {% endfor %}
    </ul>
</hr>
{% endblock %}