{% extends "base.html" %}
{% block title %}Spaced Learning{% endblock %}

{% block content %}
<h1>Spaced Learning Tasks list</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href={% url "spacedlearninglist_progress" %}>In progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url "spacedlearninglist_finished" %}>Finished</a>
  </li>
</ul>

<hr>
    <ul class="list-group">
        <a href="{% url 'spacedlearningcreate' %}" class="btn btn-info" type="button">Start new Spaced Learning Task</a>
        {% if sl_list|length == 0 %}<hr><h3>Nothing here. For now.</h3></hr>{% endif %}

        {% for sl_task in sl_list %}
            {% csrf_token %}
                {% if sl_task.is_finished == False %}
                <li class="list-group-item list-group-item-action">
                    <div class="form-check">
                        <form method="post" action="{% url "root" %}">
                            {% csrf_token %}
                            <label class="form-check-label" for="flexcheckchecked">
                                <h4><p><strong>{{ sl_task.title }}</strong></p></h4>
                            </label>
                            <a class="btn btn-primary" href="{% url 'spacedlearningdetail' sl_task.pk %}" role="button" title="details">Details</a>
                            <a class="btn btn-primary" href="{% url 'spacedlearningdelete' sl_task.pk %}" role="button" title="delete">Delete</a>

                            <h6>Subject: {{ sl_task.subject }}</h6>
                            {% if sl_task.is_ready_for_train_today %}
                        <!-- HERE DO INPUT FOR THE USER with choice 0, 1, 2 -->
                            <div class="dropdown">
	                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Mark as done
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="{% url 'slgrade' sl_task.pk 0 %}">Remembered everything!</a></li>
                                    <li><a class="dropdown-item" href="{% url 'slgrade' sl_task.pk 1 %}">Good enough</a></li>
                                    <li><a class="dropdown-item" href="{% url 'slgrade' sl_task.pk 2 %}">Don't remember much</a></li>
                                </ul>
                            </div>
                            {% else %}
                            <a class="btn btn-light" role="button" title="Mark as done">Mark as done</a>
                            {% endif %}
                            <h6>The training day: {{ sl_task.next_train_date }}</h6>
                        </form>

                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ sl_task.percent_progress }}%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            {{ sl_task.days_before_train }} days left
                            </div>
                    </div>

                </li>
            {% endif %}
        {% endfor %}
    </ul>
</hr>

{% endblock %}