.c_login-frame,
.c_login-frame01 {
  width: 100%;
  max-width: 375px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-frame {
  overflow: hidden;
  background-color: #fff;
}

.c_login-frame01 {
  gap: 24px;
  display: flex;
  padding: 40px 24px;
  position: relative;
}

.c_login-text,
.c_login-text01 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_login-text {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_login-text01 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-family: "Inter",sans-serif;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-frame02,
.c_login-frame03 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-frame02 {
  gap: 3px;
  width: 100%;
  max-width: 327px;
  box-sizing: border-box;
}

.c_login-frame03 {
  gap: 16px;
}

.c_login-frame03,
.c_login-frame04,
.c_login-instance {
  width: 100%;
  max-width: 327px;
  box-sizing: border-box;
}

.c_login-frame04 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #c5c6cc;
  align-items: center;
  border-left: 1px solid #c5c6cc;
  border-right: 1px solid #c5c6cc;
  border-bottom: 1px solid #c5c6cc;
  border-radius: 12px 12px 12px 12px;
  justify-content: flex-start;
}

.c_login-frame05,
.c_login-frame06 {
  width: 100%;
  max-width: 295px;
  box-sizing: border-box;
}

.c_login-frame06 {
  gap: 1px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.c_login-text02,
.c_login-text03 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_login-text02 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_login-text03 {
  color: #8f9098;
  font-size: 14px;
  font-style: normal;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-frame07,
.c_login-instance01 {
  width: 100%;
  max-width: 327px;
  box-sizing: border-box;
}

.c_login-frame07 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #c5c6cc;
  align-items: center;
  border-left: 1px solid #c5c6cc;
  border-right: 1px solid #c5c6cc;
  border-bottom: 1px solid #c5c6cc;
  border-radius: 12px 12px 12px 12px;
  justify-content: flex-start;
}

.c_login-frame08,
.c_login-frame09 {
  width: 100%;
  max-width: 271px;
  box-sizing: border-box;
}

.c_login-frame09 {
  gap: 1px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.c_login-text04,
.c_login-text05 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_login-text04 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

input {
  color: #8f9098;
  font-size: 14px;
  font-style: normal;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-frame10,
.c_login-instance02 {
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-instance02 {
  overflow: hidden;
  max-width: 16px;
}

.c_login-frame10 {
  gap: 16px;
  display: flex;
  position: relative;
  max-width: 327px;
}

.c_login-text06,
.c_login-text07 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_login-text06 {
  width: 100%;
  max-width: 100%;
  min-height: auto;
}

.c_login-text07 {
  color: #006ffd;
  font-size: 12px;
  font-style: normal;
  font-family: "Inter",sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-instance03 {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: relative;
  max-width: 327px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  justify-content: center;
  background-color: #006ffd;
}

.c_login-text08,
.c_login-text09 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_login-text08 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_login-text09 {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-family: "Inter",sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-text10 {
  width: 100%;
  max-width: 327px;
  min-height: auto;
}

.c_login-text10,
.c_login-text11 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_login-text12,
.c_login-text13 {
  color: #71727a;
  font-size: 12px;
  font-style: normal;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-text13 {
  color: #006ffd;
  font-weight: 600;
  line-height: normal;
}

.c_login-frame11,
.c_login-instance04 {
  width: 100%;
  max-width: 327px;
  box-sizing: border-box;
}

.c_login-frame11 {
  gap: 16px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-text14,
.c_login-text15 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_login-text14 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_login-text15 {
  color: #71727a;
  font-size: 12px;
  font-style: normal;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-frame12,
.c_login-instance05 {
  gap: 12px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 144px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.c_login-instance05 {
  gap: 8px;
  padding: 8px 16px;
  overflow: hidden;
  max-width: 40px;
  align-items: center;
  border-radius: 63px 63px 63px 63px;
  justify-content: center;
  background-color: #ed3241;
}

.c_login-instance06 {
  width: 100%;
  max-width: 12px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-instance07 {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  position: relative;
  max-width: 40px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 63px 63px 63px 63px;
  justify-content: center;
  background-color: #1f2024;
}

.c_login-instance08 {
  width: 100%;
  max-width: 12px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-instance09 {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  position: relative;
  max-width: 40px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 63px 63px 63px 63px;
  justify-content: center;
  background-color: #006ffd;
}

.c_login-instance10,
.c_login-instance11 {
  width: 100%;
  max-width: 12px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-instance11 {
  gap: 10px;
  display: flex;
  padding: 40px;
  position: relative;
  max-width: 375px;
  align-items: center;
  justify-content: center;
  background-color: #eaf2ff;
}

.c_login-frame13,
.c_login-instance12,
.c_login-instance13 {
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-instance12 {
  overflow: hidden;
  max-width: 32px;
}

.c_login-frame13,
.c_login-instance13 {
  max-width: 375px;
}

.c_login-frame13 {
  overflow: hidden;
  max-width: 54px;
}

.c_login-text16,
.c_login-text17 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_login-text16 {
  width: 100%;
  max-width: 54px;
  min-height: auto;
}

.c_login-text17 {
  color: #1f2024;
  font-size: 15px;
  font-style: normal;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -.16500000655651093px;
  text-transform: none;
}

.c_login-frame14 {
  width: 100%;
  overflow: hidden;
  max-width: 68px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_login-text18,
.c_login-text19 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_login-text18 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_login-text19 {
  color: #1f2024;
  font-size: 17px;
  font-style: normal;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-booleanope {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 17.0999755859375px;
}

.c_login-text20,
.c_login-text21 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_login-text20 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_login-text21 {
  color: #1f2024;
  font-size: 14px;
  font-style: normal;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_login-instance14 {
  width: 100%;
  max-width: 375px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}