<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        {% block css_link %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href={% url "root" %}>Figure Out</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href={% url "root" %}>Home <span class="sr-only">(current)</span></a>
              </li>
                {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href={% url "todolist" %}>Todo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url "root" %}>Spaced learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url "habitslist" %}>Habits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url "root" %}>Today's feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href={% url "root" %}>Disabled</a>
              </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark" href="{% url "logout" %}">Log Out</a>
                {% else %}
                    <a class="btn btn-outline-dark" href="{% url "login" %}">Log In</a>
                {% endif %}
            </form>
          </div>
        </nav>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>